/* Reset Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  background-color: #fff;
  font-family: 'Azeret Mono', monospace;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
p {
  color: #0d1321;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 4.25rem;
}
h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: normal;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

button {
  cursor: pointer;
  text-align: center;
  font-family: 'Azeret Mono';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Utility Classes */
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.mt-8 {
  margin-top: 0.5rem;
}
.mt-16 {
  margin-top: 1rem;
}
.mt-24 {
  margin-top: 1.5rem;
}
.mt-32 {
  margin-top: 2rem;
}
.p-32 {
  padding: 2rem;
}
.p-40 {
  padding: 2.5rem;
}
.p-48 {
  padding: 3rem;
}

/* Header Styles */
.header-navbar {
  height: 131px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}
.developer-name {
  font-size: 1.75rem;
}
.resume-button {
  color: #0d1321;
  padding: 17px 24px;
  border: 1px solid #0d1321;
  border-radius: 8px;
  opacity: 0.8;
}

.header-banner {
  background-image: url('../images/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 625px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 221px 45px 221px;
  margin-bottom: 74px;
}

.header-banner p {
  max-width: 85ch;
}
.contact-button {
  background-color: #0d1321;
  border-radius: 8px;
  padding: 21px 24px;
}
/* Styles */
/* Styles */
/* Styles */
/* Styles */
/* Styles */
/* Styles */
/* Styles */
/* Styles */
/* Styles */
/* Styles */
/* Styles */
/* Styles */
/* Styles */
