/* Reset Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: 'Azeret Mono', monospace;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
p {
  color: #0d1321;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 4.25rem;
}
h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: normal;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

/* Utility Classes */
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.mt-8 {
  margin-top: 0.5rem;
}
.mt-16 {
  margin-top: 1rem;
}
.mt-24 {
  margin-top: 1.5rem;
}
.mt-32 {
  margin-top: 2rem;
}
.p-32 {
  padding: 2rem;
}
.p-40 {
  padding: 2.5rem;
}
.p-48 {
  padding: 3rem;
}
.pl-pr-150 {
  padding-left: 150px;
  padding-right: 150px;
}
.btn {
  cursor: pointer;
  font-family: 'Azeret Mono';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

/* Header Styles */
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 131px;
}
.developer-name {
  font-size: 1.75rem;
}
.resume-button {
  background-color: #fff;
  color: #0d1321;
  border: 1px solid #0d1321;
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px;
  transition: 0.4s;
}
.resume-button:hover {
  background-color: #0d1321;
  color: #fff;
}
.header-banner {
  background: url('../images/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 625px;
  margin-bottom: 74px;
  padding: 26px 221px 45px 221px;
}
.header-banner p {
  max-width: 85ch;
}
.contact-button {
  background-color: #0d1321;
  border: 1px solid #0d1321;
  border-radius: 8px;
  color: white;
  display: inline-block;
  padding: 21px 24px;
  text-decoration: none;
  transition: 0.4s;
}
.contact-button:hover {
  background: #fff;
  border: 1px solid #0d1321;
  color: #0d1321;
}

/* Why Web Development Styles */
section.why-development {
  background: rgba(13, 19, 33, 0.02);
  border-radius: 1rem;
  margin-bottom: 90px;
  padding: 80px 97px;
}
.about-web-development {
  padding: 0 47px 48px 47px;
}
.developer-objectives {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.objective-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.reverse-direction {
  flex-direction: row-reverse;
}
.objective-item {
  padding-right: 100px;
}
.objective-item h3 {
  color: rgba(13, 19, 33, 0.7);
}
.developer-objectives img {
  height: 240px;
  width: 240px;
}
.learn-more-button {
  background-color: #fff;
  border: 1px solid #0d1321;
  color: #0d1321;
  display: inline-block;
  opacity: 0.7;
  padding: 12px 20px;
  text-decoration: none;
  transition: 0.3s;
}
.learn-more-button:hover {
  background-color: #0d1321;
  color: #fff;
  opacity: 1;
}
.learn-more-button:visited {
  color: #782ad1;
  opacity: 1;
}

/* Inspiration Section Styles */
section.inspiration {
  margin-bottom: 151px;
}
.about-inspiration,
.about-current-target {
  padding: 0 144px 48px 144px;
}
.inspirational-video-container {
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}
iframe {
  border-radius: 16px;
  overflow: hidden;
}

/* Current Target Styles */
section.current-target {
  margin-bottom: 111px;
}
.target-container {
  display: flex;
  gap: 24px;
}
.target-container a {
  color: #0d1321;
  display: inline-block;
  font-weight: 700;
  transition: 0.3s;
}
.target-container a:hover {
  color: #5c5b5b;
}
.target-container a:visited {
  color: #782ad1;
}
.target-1 {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.target-2 {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.target-3 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

/* Support Section Styles */
section.support {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url('../images/handshake.jpg') lightgray 50% / cover no-repeat;
  margin-bottom: 80px;
  padding: 64px 48px;
}
.about-support {
  padding: 0 220px 24px 220px;
}
.support p {
  opacity: 0.7;
}
.support form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.support form input[type='text'] {
  background: #fff;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  color: rgba(13, 19, 33, 0.4);
  padding: 19px 20px;
  width: 548px;
}
.submit-button {
  background: #fff;
  border: 1px solid #0d1321;
  border-radius: 8px;
  padding: 17px 20px;
  width: 120px;
  transition: 0.4s;
}
.submit-button:hover {
  background: #0d1321;
  border: 1px solid #fff;
  color: #fff;
}

/* footer styles */
footer {
  background: rgba(13, 19, 33, 0.03);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 150px;
}
#social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}
footer a {
  text-decoration: none;
}
